    <section>
    <div class="container">
            <div class="row justify-content-center mb-5 pb-3 mt-5 pt-5">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <h2 class="mb-4">Услуги &amp; Цены</h2>
            <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
            <p class="mt-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="pricing-entry ftco-animate">
                    <div class="d-flex text align-items-center">
                        <h3><span>Men's Haircut</span></h3>
                        <span class="price">$20.00</span>
                    </div>
                    <div class="d-block">
                        <p>A small river named Duden flows by their place and supplies</p>
                    </div>
                </div>
                <div class="pricing-entry ftco-animate">
                    <div class="d-flex text align-items-center">
                        <h3><span>Children Haircut</span></h3>
                        <span class="price">$29.00</span>
                    </div>
                    <div class="d-block">
                        <p>A small river named Duden flows by their place and supplies</p>
                    </div>
                </div>
                <div class="pricing-entry ftco-animate">
                    <div class="d-flex text align-items-center">
                        <h3><span>Beard Cut</span></h3>
                        <span class="price">$20.00</span>
                    </div>
                    <div class="d-block">
                        <p>A small river named Duden flows by their place and supplies</p>
                    </div>
                </div>
                <div class="pricing-entry ftco-animate">
                    <div class="d-flex text align-items-center">
                        <h3><span>Men's Haircut</span></h3>
                        <span class="price">$20.00</span>
                    </div>
                    <div class="d-block">
                        <p>A small river named Duden flows by their place and supplies</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="pricing-entry ftco-animate">
                    <div class="d-flex text align-items-center">
                        <h3><span>Women's Haircut</span></h3>
                        <span class="price">$49.91</span>
                    </div>
                    <div class="d-block">
                        <p>A small river named Duden flows by their place and supplies</p>
                    </div>
                </div>
                <div class="pricing-entry ftco-animate">
                    <div class="d-flex text align-items-center">
                        <h3><span>Men's Haircut</span></h3>
                        <span class="price">$20.00</span>
                    </div>
                    <div class="d-block">
                        <p>A small river named Duden flows by their place and supplies</p>
                    </div>
                </div>
                <div class="pricing-entry ftco-animate">
                    <div class="d-flex text align-items-center">
                        <h3><span>Men's Haircut</span></h3>
                        <span class="price">$20.00</span>
                    </div>
                    <div class="d-block">
                        <p>A small river named Duden flows by their place and supplies</p>
                    </div>
                </div>
                <div class="pricing-entry ftco-animate">
                    <div class="d-flex text align-items-center">
                        <h3><span>Men's Haircut</span></h3>
                        <span class="price">$20.00</span>
                    </div>
                    <div class="d-block">
                        <p>A small river named Duden flows by their place and supplies</p>
                    </div>
                </div>
            </div>
        </div>
    </section>